.results-title {
    margin-bottom: 10px;
    font-weight  : 900;
    font-size    : 1.7em;
    text-align: center;
}

.results {

    .expense-list {
        text-align: left;

        .expense {
            list-style   : none;
            font-size    : 1.2em;
            padding      : 5px;
            display      : flex;
            align-items  : center;
            position     : relative;
            margin-bottom: 25px;

            .expense-description {
                .expense-description-name {
                    margin-bottom: 5px;
                }
            }

            .delete {
                position                   : absolute;
                display                    : block;
                text-align                 : center;
                width                      : 38px;
                right                      : 10px;
                padding                    : 8px;
                border-radius              : 50%;
                background-color           : $delete-color;
                color                      : white;
                cursor                     : pointer;
                -webkit-tap-highlight-color: transparent;

            }
        }
    }

    @media(max-width:$max-width) {
        height          : auto;
        overflow        : scroll;

    }
}