*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow: hidden;
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 100vh;
    width: 100vw;
    overflow: auto;
    &::after{
        content: "";
        background: url("../images/background.jpg") no-repeat; 
        background-size: cover;
        background-attachment: fixed;
        opacity:$background-opacity ;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: fixed;
        z-index: -1;
    }

    .container{
        background-color: #fff;
        width: 80%;
        max-width: 700px;
        max-height: 600px;
        border-radius: 15px;
        padding: 30px;
        box-shadow: 0px 0px 18px 1px black;
        display: flex;
        margin-top: 200px;
        color:$text-color;

        @media(max-width: $max-width){
            flex-direction: column;
        }

        @media(max-height:730px){
            height: 470px;
            margin-top: 120px;
        }
        
    }
   
}